---
import Layout from "../../../layouts/Layout.astro";
import Pager from "../../../components/organisms/pager.astro";
import { getCategoryList, getAllContents } from "../../../libs/microcms";
import type { Blog, Category, Tag } from "../../../types";
import type { GetStaticPathsOptions } from "astro";
import Card from "../../../components/molecules/card.astro";
import CategoryTagSidebar from "../../../components/organisms/categoryTagSidebar.astro";
import { getCountedCategories, getCountedTags } from "../../../utils/countingUtils";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const categoryResponse = await getCategoryList();
	const categories = categoryResponse.contents;
	const allBlogsResponse = await getAllContents<Blog>("blogs");
	const allBlogs = allBlogsResponse.contents;

	return categories.flatMap((category) => {
		const blogsInThisCategory = allBlogs.filter((blog) => blog.category.id === category.id);

		return paginate(blogsInThisCategory, {
			pageSize: 10,
			params: { slug: category.slug },
			props: {
				category: category,
				allBlogs: allBlogs,
				totalCount: blogsInThisCategory.length,
			},
		});
	});
}

const { page, category, allBlogs, totalCount } = Astro.props as {
	page: { data: Blog[] };
	category: Category;
	allBlogs: Blog[];
	totalCount: number;
};

const blogs = page.data as Blog[];

const [allCategoriesResponse, allTagsResponse] = await Promise.all([
	getAllContents<Category>("categories"),
	getAllContents<Tag>("tags"),
]);
const categories = allCategoriesResponse.contents;
const tags = allTagsResponse.contents;

const categoryCounts = getCountedCategories(categories, allBlogs);
const tagCounts = getCountedTags(tags, allBlogs);
---

<Layout title={`${category.name} の記事一覧 | miyata blog`} breadcrumb={true} category={category}>
	<main class="inner pt-[96px] sm:pt-[48px] pb-[120px] gap-[48px] sm:pb-[64px]">
		<h1 class="text-[32px] sm:text-[24px] leading-none sm:leading-[1.4] tracking-[0.04em] font-black">
			Category <span class="font-normal bracket">{category.name}</span>
		</h1>
		<div class="flex justify-between sm:flex-col mt-[64px] sm:mt-[32px]">
			{
				blogs.length === 0 ? (
					<p class="text-gray-600">このカテゴリにはまだ記事がありません。</p>
				) : (
					<ul class="flex gap-[32px] flex-wrap sm:gap-[28px]">
						{blogs.map((blog) => (
							<Card blog={blog} />
						))}
					</ul>
				)
			}
			<CategoryTagSidebar categories={categoryCounts} tags={tagCounts} />
		</div>
		{blogs.length > 0 && <Pager page={page} totalCount={totalCount} catSlug={category.slug} />}
	</main>
</Layout>
