---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/organisms/navigation.astro";
import IconCard from "../../components/molecules/iconCard.astro";
import WorkImageGridItem from "../../components/molecules/workImageGridItem.astro";
import ViewMoreButton from "../../components/atoms/viewMoreButton.astro";
import { getContents } from "../../libs/microcms";
import type { Icon, Image } from "../../types";

const iconRes = await getContents<Icon>("icons", { limit: 8 });
const icons = iconRes.contents;

const imageRes = await getContents<Image>("images", {
	filters: "category[not_equals]3bwm0_dzxu",
	limit: 3,
});
const images = imageRes.contents;

const illustRes = await getContents<Image>("images", {
	filters: "category[equals]3bwm0_dzxu",
	limit: 3,
});
const illustrations = illustRes.contents;
---

<Layout
	title="制作物｜みやたノート｜Frontend & Design"
	breadcrumb={true}
	isWorksPage={true}
>
	<main class="inner pt-[96px] sm:pt-[48px] pb-[120px] sm:pb-[64px]">
		<h1 class="text-[32px] sm:text-[24px] font-black leading-none tracking-[0.04em]">Works｜制作物</h1>
		<div class="mt-[48px] sm:mt-[24px]">
			<Navigation
				items={[
					{
						href: "/works/icon",
						label: "Icon",
						tooltip: "アイコン",
						isActive: true,
					},
					{
						href: "/works/graphicdesign",
						label: "Graphic Design",
						tooltip: "グラフィックデザイン",
						isActive: true,
					},
					{
						href: "/works/graphicdesign/category/illustration",
						label: "Illustration",
						tooltip: "イラスト",
						isActive: true,
					},
					{
						href: "/works/web",
						label: "WebSite",
						tooltip: "ウェブサイト",
						isActive: false,
					},
					{
						href: "/works/app",
						label: "Application",
						tooltip: "アプリケーション",
						isActive: false,
					},
				]}
			/>
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[128px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[48px] sm:w-[20px] h-[48px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>1</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				Icon<span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden">アイコン</span>
			</h2>
		</div>
		<ul class="grid grid-cols-8 sm:grid-cols-3 gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{icons.map((icon) => <IconCard icon={icon} />)}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<ViewMoreButton href="/works/icon" label="ICON" />
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>2</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Graphic Design</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden">グラフィックデザイン</span
				>
			</h2>
		</div>
		<ul class="flex flex-wrap gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{images.map((image) => <WorkImageGridItem image={image} />)}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<ViewMoreButton href="/works/graphicdesign" label="GRAPHIC DESIGN" />
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>3</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Illustration</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>イラスト</span
				>
			</h2>
		</div>
		<ul class="flex flex-wrap gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{illustrations.map((illust) => <WorkImageGridItem image={illust} />)}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<ViewMoreButton href="/works/graphicdesign/category/illustration" label="ILLUSTRATION" />
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>4</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>WebSite</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>ウェブサイト</span
				>
			</h2>
		</div>
		<p class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded">
			In preparation｜準備中
		</p>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>5</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Application</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>アプリケーション</span
				>
			</h2>
		</div>
		<p class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded">
			In preparation｜準備中
		</p>
	</main>
</Layout>
