---
import Layout from "../../layouts/Layout.astro";
import Pager from "../../components/organisms/pager.astro";
import { getAllContents } from "../../libs/microcms";
import type { GetStaticPathsOptions } from "astro";

type Icon = {
  id: string;
  title: string;
  enTitle: string;
  image: { url: string; width: number; height: number };
};

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const ICONS_PER_PAGE = 64;
  const res = await getAllContents<Icon>("icons");
  const icons = res.contents;

  return paginate(icons, {
    pageSize: ICONS_PER_PAGE,
    params: {},
    props: {
      totalCount: res.totalCount,
			perPage: ICONS_PER_PAGE,
    },
  });
}

const { page, totalCount, perPage } = Astro.props as {
  page: { data: Icon[] };
  totalCount: number;
	perPage: number;
};

const icons = page.data;
---

<Layout title="制作物 | miyata blog" breadcrumb={true} isIconsPage={true}>
  <main class="inner pt-[96px] sm:pt-[48px] pb-[120px] sm:pb-[64px]">
    <h1 class="text-[32px] sm:text-[24px] font-black leading-none tracking-[0.04em]">Works｜制作物</h1>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[48px] sm:mt-[32px]">
		<div class="text-[16px] sm:text-[10px] font-black aspect-square w-[48px] sm:w-[24px] h-[48px] sm:h-[24px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"><span>1</span></div>
    <h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">Icon<span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[4px] sm:hidden">アイコン</span></h2>
		</div>

    <ul class="icon-list flex flex-wrap justify-start gap-[48px] sm:gap-[32px] mt-[48px] sm:grid-cols-2">
      {icons.map((icon) => (
        <li class="w-full max-w-[106px] sm:max-w-[calc(50%_-_16px)] text-center relative">
          <div class="expand-img max-w-[64px] sm:max-w-[48px] mx-auto duration">
            <img src={icon.image.url} alt={icon.title} class="w-full" />
          </div>
          <p class="mt-[12px] text-[12px] sm:text-[10px] leading-none tracking-[0.06em] font-black">{icon.title}</p>
          <p class="mt-[6px] bracket text-[10px] sm:text-[10px] leading-none tracking-[0.06em] font-bold">{icon.enTitle}</p>
          <button class="expand-btn bg-[#F5F5F6] text-[10px] font-bold leading-none tracking-[0.04em] pt-[4px] pb-[6px] mt-[12px] block w-full text-[#0079C9] opacity-hover duration">
            拡大
          </button>
        </li>
      ))}
    </ul>

    <!-- <div class="mt-[48px]">
      <Pager page={page} totalCount={totalCount} basePath="/works" perPage={perPage} />
    </div> -->
  </main>
</Layout>
