---
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/atoms/icon.astro";
import Navigation from "../../components/organisms/navigation.astro";
import { getContents } from "../../libs/microcms";

type Icon = {
	id: string;
	title: string;
	enTitle: string;
	image: { url: string; width: number; height: number };
};

const res = await getContents<Icon>("icons", { limit: 8 });
const icons = res.contents;
---

<Layout
	title="Web制作の実績｜デザインもできるフロントエンドエンジニアのポートフォリオ"
	breadcrumb={true}
	isWorksPage={true}
>
	<main class="inner pt-[96px] sm:pt-[48px] pb-[120px] sm:pb-[64px]">
		<h1
			class="text-[32px] sm:text-[24px] font-black leading-none tracking-[0.04em]"
		>
			Works｜制作物
		</h1>
		<div class="mt-[48px] sm:mt-[24px]">
			<Navigation
				items={[
					{
						href: "/works/icon",
						label: "Icon",
						tooltip: "アイコン",
						isActive: true,
					},
					{
						href: "/works/image",
						label: "Image",
						subLabel: "Graph｜Banner",
						tooltip: "画像 <span class='bracket'>グラフ｜バナー</span>",
						isActive: false,
					},
					{
						href: "/works/web",
						label: "WebSite",
						tooltip: "ウェブサイト",
						isActive: false,
					},
					{
						href: "/works/photo",
						label: "Photo",
						tooltip: "写真",
						isActive: false,
					},
					{
						href: "/works/illustration",
						label: "Illustration",
						tooltip: "イラスト",
						isActive: false,
					},
					{
						href: "/works/app",
						label: "Application",
						tooltip: "アプリケーション",
						isActive: false,
					},
				]}
			/>
		</div>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[144px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>1</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				Icon<span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>アイコン</span
				>
			</h2>
		</div>
		<ul
			class="icon-list grid grid-cols-8 sm:grid-cols-3 gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]"
		>
			{
				icons.map((icon) => (
					<li class="relative text-center">
						<div class="expand-img max-w-[64px] sm:max-w-[48px] mx-auto duration">
							<img src={icon.image.url} alt={icon.title} class="w-full" />
						</div>
						<p class="mt-[12px] text-[12px] sm:text-[10px] leading-none tracking-[0.06em] font-black">
							{icon.title}
						</p>
						<p class="mt-[6px] bracket text-[10px] sm:text-[10px] leading-none tracking-[0.06em] font-bold">
							{icon.enTitle}
						</p>
					</li>
				))
			}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<a
				href="/works/icon"
				class="inline-block rounded-full font-bold text-[16px] sm:text-[14px] leading-none tracking-[0.06em] opacity-hover duration"
				><span class="font-normal">VIEW</span> ICON <Icon
					filename="icon_arrow_forward"
					color="#0079C9"
					customClass="w-[20px] sm:w-[16px] align-text-top"
				/></a
			>
		</div>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>2</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				<span>Image <span class="font-normal bracket">Graph｜Banner</span></span
				><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>画像 <span class="font-normal bracket">グラフ｜バナー</span></span
				>
			</h2>
		</div>
		<p
			class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded"
		>
			In preparation｜準備中
		</p>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>3</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				<span>WebSite</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>ウェブサイト</span
				>
			</h2>
		</div>
		<p
			class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded"
		>
			In preparation｜準備中
		</p>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>4</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				<span>Photo</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>写真</span
				>
			</h2>
		</div>
		<p
			class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded"
		>
			In preparation｜準備中
		</p>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>5</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				<span>Illustration</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>イラスト</span
				>
			</h2>
		</div>
		<p
			class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded"
		>
			In preparation｜準備中
		</p>
		<div
			class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[40px]"
		>
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>6</span>
			</div>
			<h2
				class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col"
			>
				<span>Application</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[8px] sm:hidden"
					>アプリケーション</span
				>
			</h2>
		</div>
		<p
			class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded"
		>
			In preparation｜準備中
		</p>
	</main>
</Layout>
