---
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/atoms/icon.astro";
import Navigation from "../../components/organisms/navigation.astro";
import { getContents } from "../../libs/microcms";

type Icon = {
	id: string;
	title: string;
	enTitle: string;
	image: { url: string; width: number; height: number };
};

type Image = {
	id: string;
	title: string;
	image: { url: string; width: number; height: number };
	isPrivate: boolean;
};

const iconRes = await getContents<Icon>("icons", { limit: 8 });
const icons = iconRes.contents;

const imageRes = await getContents<Image>("images", {
	filters: "category[not_equals]3bwm0_dzxu",
	limit: 3,
});
const images = imageRes.contents;

const illustRes = await getContents<Image>("images", {
	filters: "category[equals]3bwm0_dzxu",
	limit: 3,
});
const illustrations = illustRes.contents;
---

<Layout
	title="Web制作の実績｜デザインもできるフロントエンドエンジニアのポートフォリオ"
	breadcrumb={true}
	isWorksPage={true}
>
	<main class="inner pt-[96px] sm:pt-[48px] pb-[120px] sm:pb-[64px]">
		<h1 class="text-[32px] sm:text-[24px] font-black leading-none tracking-[0.04em]">Works｜制作物</h1>
		<div class="mt-[48px] sm:mt-[24px]">
			<Navigation
				items={[
					{
						href: "/works/icon",
						label: "Icon",
						tooltip: "アイコン",
						isActive: true,
					},
					{
						href: "/works/graphicdesign",
						label: "Graphic Design",
						tooltip: "グラフィックデザイン",
						isActive: true,
					},
					{
						href: "/works/graphicdesign/category/illustration",
						label: "Illustration",
						tooltip: "イラスト",
						isActive: true,
					},
					{
						href: "/works/web",
						label: "WebSite",
						tooltip: "ウェブサイト",
						isActive: false,
					},
					{
						href: "/works/app",
						label: "Application",
						tooltip: "アプリケーション",
						isActive: false,
					},
				]}
			/>
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[128px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[48px] sm:w-[20px] h-[48px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>1</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				Icon<span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden">アイコン</span>
			</h2>
		</div>
		<ul class="grid grid-cols-8 sm:grid-cols-3 gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{
				icons.map((icon) => (
					<li class="relative text-center">
						<div class="expand-img max-w-[64px] sm:max-w-[48px] mx-auto duration">
							<img src={icon.image.url} alt={icon.title} class="w-full" />
						</div>
						<p class="whitespace-nowrap mt-[12px] text-[12px] sm:text-[10px] leading-none tracking-[0.06em] font-black">
							{icon.title}
						</p>
						<p class="whitespace-nowrap mt-[6px] bracket text-[10px] sm:text-[10px] leading-none tracking-[0.06em] font-bold">
							{icon.enTitle}
						</p>
					</li>
				))
			}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<a
				href="/works/icon"
				class="inline-block rounded-full font-bold text-[16px] sm:text-[14px] leading-none tracking-[0.06em] opacity-hover duration"
				><span class="font-normal">VIEW</span> ICON <Icon
					filename="icon_arrow_forward"
					color="#0079C9"
					customClass="w-[20px] sm:w-[16px] align-[-4px] sm:align-[-2px]"
				/></a
			>
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>2</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Graphic Design</span><span
					class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden">グラフィックデザイン</span
				>
			</h2>
		</div>
		<ul class="flex flex-wrap gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{
				images.map((image) => (
					<li class="relative w-[calc(1184px/3_-_32px)] sm:w-full">
						<div class="w-[calc(1184px/3_-_32px)] sm:w-full aspect-square px-[32px] pt-[32px] pb-[36px]  sm:px-[24px] sm:pt-[24px] sm:pb-[28px] bg-[#fafafa] flex items-center justify-center">
							<img src={image.image.url} alt={image.title} class="w-full" />
						</div>
						<p class="text-[16px] sm:text-[14px] mt-[16px] sm:mt-[12px] leading-[1.48] tracking-[0.06em] font-bold">
							{image.title}
						</p>
						{image.isPrivate === true && (
							<div class="absolute top-0 left-0 text-[10px] leading-none tracking-[0.04em] px-[12px] pt-[6px] pb-[8px] font-bold bg-[#eee]">
								自主制作
							</div>
						)}
					</li>
				))
			}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<a
				href="/works/graphicdesign"
				class="inline-block rounded-full font-bold text-[16px] sm:text-[14px] leading-none tracking-[0.06em] opacity-hover duration"
				><span class="font-normal">VIEW</span> Graphic Design
				<Icon
					filename="icon_arrow_forward"
					color="#0079C9"
					customClass="w-[20px] sm:w-[16px]  align-[-4px] sm:align-[-2px]"
				/></a
			>
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>3</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Illustration</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>イラスト</span
				>
			</h2>
		</div>
		<ul class="flex flex-wrap gap-[48px] sm:gap-[32px] mt-[40px] sm:mt-[24px]">
			{
				illustrations.map((illust) => (
					<li class="relative w-[calc(1184px/3_-_32px)] sm:w-full">
						<div class="aspect-square px-[32px] pt-[32px] pb-[36px] sm:px-[24px] sm:pt-[24px] sm:pb-[28px] bg-[#fafafa] flex items-center justify-center">
							<img src={illust.image.url} alt={illust.title} class="w-full" />
						</div>
						<p class="text-[16px] sm:text-[14px] mt-[16px] sm:mt-[12px] leading-[1.48] tracking-[0.06em] font-bold">
							{illust.title}
						</p>
						{illust.isPrivate === true && (
							<div class="absolute top-0 left-0 text-[10px] leading-none tracking-[0.04em] px-[12px] pt-[6px] pb-[8px] font-bold bg-[#eee]">
								自主制作
							</div>
						)}
					</li>
				))
			}
		</ul>
		<div class="mt-[40px] sm:mt-[24px] text-right">
			<a
				href="/works/graphicdesign/category/illustration"
				class="inline-block rounded-full font-bold text-[16px] sm:text-[14px] leading-none tracking-[0.06em] opacity-hover duration"
				><span class="font-normal">VIEW</span> Illustration
				<Icon
					filename="icon_arrow_forward"
					color="#0079C9"
					customClass="w-[20px] sm:w-[16px]  align-[-4px] sm:align-[-2px]"
				/></a
			>
		</div>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>4</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>WebSite</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>ウェブサイト</span
				>
			</h2>
		</div>
		<p class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded">
			In preparation｜準備中
		</p>
		<div class="flex items-center gap-[16px] sm:gap-[8px] mt-[80px] sm:mt-[64px]">
			<div
				class="text-[16px] sm:text-[10px] font-black aspect-square w-[42px] sm:w-[20px] h-[42px] sm:h-[20px] bg-[#0079C9] rounded-full leading-none flex items-center justify-center text-white"
			>
				<span>5</span>
			</div>
			<h2 class="text-[28px] sm:text-[18px] font-black leading-none tracking-[0.04em] flex flex-col">
				<span>Application</span><span class="text-[10px] font-normal leading-none tracking-[0.06em] mt-[6px] sm:hidden"
					>アプリケーション</span
				>
			</h2>
		</div>
		<p class="text-center bg-[#FAFAFA] mt-[40px] sm:mt-[24px] text-[16px] sm:text-[14px] p-[80px] pb-[96px] rounded">
			In preparation｜準備中
		</p>
	</main>
</Layout>
