---
import Layout from "../layouts/Layout.astro";
import Pager from "../components/organisms/pager.astro";
import NoteSlider from "../components/organisms/noteSlider.astro";
import ProductCard from "../components/molecules/productCard.astro";
import { getAllContents, getBlogs, getProducts } from "../libs/microcms";
import type { Blog, Category, Tag, Product, MicroCMSResponse } from "../types";
import Card from "../components/molecules/card.astro";
import CategoryTagSidebar from "../components/organisms/categoryTagSidebar.astro";
import { getCountedCategories, getCountedTags } from "../utils/countingUtils";

const PER_PAGE = 10;

const recentBlogsResponse: MicroCMSResponse<Blog> = await getBlogs({
	limit: PER_PAGE,
	offset: 0,
});

const [allBlogsResponse, allCategoriesResponse, allTagsResponse, productsResponse] = await Promise.all([
	getAllContents<Blog>("blogs"),
	getAllContents<Category>("categories"),
	getAllContents<Tag>("tags"),
	getProducts(),
]);

const blogs = recentBlogsResponse.contents;
const allBlogs = allBlogsResponse.contents;
const categories = allCategoriesResponse.contents;
const tags = allTagsResponse.contents;

const totalCount = allBlogsResponse.totalCount;
const lastPage = Math.ceil(totalCount / PER_PAGE);
const pageData = {
	currentPage: 1,
	lastPage: lastPage,
	url: {
		prev: null,
		next: lastPage > 1 ? "/blogs/2" : null,
	},
};

const products = productsResponse.contents;

const categoryCounts = getCountedCategories(categories, allBlogs);
const tagCounts = getCountedTags(tags, allBlogs);
---

<Layout title="miyata blog">
	<main class="inner pt-[160px] sm:pt-[96px] pb-[200px] sm:pb-[64px]">
		<section>
			<h2 class="text-[32px] sm:text-[24px] leading-none tracking-[0.06em] font-bold">Products｜プロダクト</h2>
			<ul class="grid grid-cols-3 gap-[32px] sm:grid-cols-1 sm:gap-[24px] mt-[40px] sm:mt-[20px]">
				{
					products.map((product) => (
						<ProductCard product={product} />
					))
				}
			</ul>
		</section>
		<section class="mt-[80px] sm:mt-[48px]">
			<h2 class="text-[32px] sm:text-[24px] leading-none tracking-[0.06em] font-bold">Note｜ノート</h2>
			<NoteSlider />
		</section>
		<section class="mt-[80px] sm:mt-[48px]">
			<h2 class="text-[32px] sm:text-[24px] leading-none tracking-[0.06em] font-bold">Blogs｜ブログ</h2>
			<div class="flex justify-between gap-[32px] sm:flex-col mt-[40px] sm:mt-[20px]">
				<ul class="grid grid-cols-2 sm:grid-cols-1 gap-[32px] flex-wrap sm:gap-[24px]">
					{blogs.map((blog) => <Card blog={blog} />)}
				</ul>
				<CategoryTagSidebar categories={categoryCounts} tags={tagCounts} />
			</div>
		</section>
		{totalCount > 10 && <Pager page={pageData} totalCount={totalCount} />}
	</main>
</Layout>
