---
import Layout from "../layouts/Layout.astro";
import Pager from "../components/organisms/pager.astro";
import NoteSlider from "../components/organisms/noteSlider.astro";
import { getAllContents, getBlogs } from "../libs/microcms";
import type { Blog, Category, Tag, MicroCMSResponse } from "../types";
import Card from "../components/molecules/card.astro";
import CategoryTagSidebar from "../components/organisms/categoryTagSidebar.astro";
import { getCountedCategories, getCountedTags } from "../utils/countingUtils";

const PER_PAGE = 10;

const recentBlogsResponse: MicroCMSResponse<Blog> = await getBlogs({
	limit: PER_PAGE,
	offset: 0,
});

const [allBlogsResponse, allCategoriesResponse, allTagsResponse] = await Promise.all([
	getAllContents<Blog>("blogs"),
	getAllContents<Category>("categories"),
	getAllContents<Tag>("tags"),
]);

const blogs = recentBlogsResponse.contents;
const allBlogs = allBlogsResponse.contents;
const categories = allCategoriesResponse.contents;
const tags = allTagsResponse.contents;

const totalCount = allBlogsResponse.totalCount;
const lastPage = Math.ceil(totalCount / PER_PAGE);
const pageData = {
	currentPage: 1,
	lastPage: lastPage,
	url: {
		prev: null,
		next: lastPage > 1 ? "/blogs/2" : null,
	},
};

const categoryCounts = getCountedCategories(categories, allBlogs);
const tagCounts = getCountedTags(tags, allBlogs);
---

<Layout title="miyata blog">
	<main class="inner pt-[160px] sm:pt-[96px] pb-[200px] sm:pb-[64px]">
		<section>
			<NoteSlider />
		</section>
		<div class="flex justify-between gap-[56px] sm:flex-col mt-[80px] sm:mt-[48px]">
			<ul class="flex gap-[32px] flex-wrap sm:gap-[28px]">
				{blogs.map((blog) => <Card blog={blog} />)}
			</ul>
			<CategoryTagSidebar categories={categoryCounts} tags={tagCounts} />
		</div>
		{totalCount > 10 && <Pager page={pageData} totalCount={totalCount} />}
	</main>
</Layout>
