---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organisms/header.astro";
import { getBlogs, getCategoryList } from "../libs/microcms";
import type { Category } from "@libs/microcms.ts";
import { formatDate } from "../../src/utils/date";

const [blogsResponse, categoriesResponse] = await Promise.all([
	getBlogs(),
	getCategoryList(),
]);

const blogs = blogsResponse.contents;
const categories = categoriesResponse.contents;

interface Props {
	categories: Category[];
}
---

<Layout title="miyata blog">
	<Header
		navItems={[
			{ href: "/blog", text: "Blog" },
			{ href: "/about", text: "About" },
			{ href: "/contact", text: "Contact" },
		]}
	/>
	<main class="flex justify-between inner">
		<ul class="flex gap-[36px]">
			{
				blogs.map((blog) => (
					<li class="max-w-[408px] w-full">
						<a href={`/blogs/${blog.id}`} class="opacity-hover duration">
						<div>{blog.eyecatch ? <img src={blog.eyecatch.url} alt={blog.title} /> : <img src="/public/img/dummyImage.png" alt={blog.title} /> }</div>
						{blog.readingTime && <p class="font-bold text-[14px] leading-[1.28] tracking-[0.06em]">読了までの時間{blog.readingTime}分</p> }
						<p class="font-bold text-[14px] leading-[1.28] tracking-[0.06em]">{blog.category.name}</p>
						<p class="font-bold text-[16px] leading-[1.48] tracking-[0.06em]">{blog.title}</p>
						<p class="font-bold text-[12px] leading-[1.28] tracking-[0.06em]">{blog.description}</p>
						<p class="font-bold text-[10px] leading-[1] tracking-[0.06em]">{formatDate(blog.publishedAt)}</p>
						<p class="font-bold text-[10px] leading-[1] tracking-[0.06em]">{blog.tag.name}</p>
						</a>
					</li>
				))
			}
		</ul>
		<div>
			<p>カテゴリ</p>
			<ul>
				{
					categories.length === 0 ? (
						<li class="text-sm text-muted-foreground">カテゴリがありません</li>
					) : (
						categories.map((category) => (
							<li>
								<a
									href={`/categories/${category.slug}`}
									class="text-sm hover:underline"
								>
									{category.name}
								</a>
							</li>
						))
					)
				}
			</ul>
		</div>
	</main>
</Layout>
