---
import type { Blog } from "../../libs/microcms.d.ts";
import { formatDate } from "../../utils/date";
import Badge from "../atoms/badge.astro";
import EyecatchImage from "../atoms/eyecatchImage.astro";

interface Props {
  blog: Blog;
}

const { blog } = Astro.props;
---

<li class="w-full">
  <a href={`/blogs/${blog.id}`} class="opacity-hover duration">
    <EyecatchImage eyecatch={blog.eyecatch} alt={blog.title} class="rounded-lg" />
    <div class="p-[12px] sm:px-0 sm:pt-[10px] sm:pb-0">
      <div class="flex gap-[10px] flex-wrap">
        <Badge bgColor={blog.category.labelColor} textColor="#FFF">
          {blog.category.name}
        </Badge>
        {blog.readingTime && (
          <Badge>
            <span class="text-[#666]">読了までの時間：</span>
            {blog.readingTime}分
          </Badge>
        )}
      </div>
      <p class="break-normal font-black text-[16px] leading-[1.48] sm:leading-[1.4] tracking-[0.06em] mt-[12px] sm:mt-[10px]">
        {blog.title}
      </p>
      <p class="break-normal line-clamp-3 font-medium text-[12px] leading-[1.48] sm:leading-[1.4] tracking-[0.08em] mt-[8px] sm:mt-[4px]">
        {blog.description}
      </p>
      <p class="font-medium text-[10px] leading-[1] tracking-[0.06em] mt-[8px] sm:mt-[6px]">
        {formatDate(blog.publishedAt)}
      </p>
      <div class="flex gap-[8px] sm:gap-[6px] flex-wrap mt-[8px] sm:mt-[6px]">
        {blog.tag.map((tag) => (
          <p class="font-medium text-[10px] leading-[1] tracking-[0.06em]">
            <span class="hashtag"></span>{tag.name}
          </p>
        ))}
      </div>
    </div>
  </a>
</li>
