---
import type { Blog } from "../../libs/microcms.d.ts";
import { formatDate } from "../../utils/date";

interface Props {
  blog: Blog;
}

const { blog } = Astro.props;
---

<li class="max-w-[408px] sm:max-w-full w-full">
  <a href={`/blogs/${blog.id}`} class="opacity-hover duration">
    <div>
      {
        blog.eyecatch ? (
          <img src={blog.eyecatch.url} alt={blog.title} class="rounded-lg" />
        ) : (
          <img src="/img/dummyImage.png" alt={blog.title} class="rounded-lg" />
        )
      }
    </div>
    <div class="p-[12px] sm:px-0 sm:pt-[10px] sm:pb-0">
      <div class="flex gap-[10px] flex-wrap">
        <p
          class="font-bold text-[12px] leading-[1] tracking-[0.06em] px-[20px] pt-[4px] pb-[5px] text-[#FFF] rounded-full sm:text-[10px] sm:pb-[4px]"
          style={`background-color: ${blog.category.labelColor};`}
        >
          {blog.category.name}
        </p>
        {blog.readingTime && (
          <p class="font-bold text-[12px] leading-[1] tracking-[0.06em] px-[20px] pt-[4px] pb-[5px] bg-[#F6F6F6] rounded-full sm:text-[10px] sm:pb-[4px]">
            <span class="text-[#666}">読了までの時間：</span>
            {blog.readingTime}分
          </p>
        )}
      </div>
      <p class="break-normal font-black text-[16px] leading-[1.48] sm:leading-[1.4] tracking-[0.06em] mt-[12px] sm:mt-[10px]">
        {blog.title}
      </p>
      <p class="break-normal font-medium text-[12px] leading-[1.4] sm:leading-[1.32] tracking-[0.06em] mt-[8px] sm:mt-[6px]">
        {blog.description}
      </p>
      <p class="font-medium text-[10px] leading-[1] tracking-[0.06em] mt-[8px] sm:mt-[6px]">
        {formatDate(blog.publishedAt)}
      </p>
      <div class="flex gap-[8px] flex-wrap">
        {blog.tag.map((tag) => (
          <p class="font-medium text-[10px] leading-[1] tracking-[0.06em] mt-[8px] sm:mt-[6px]">
            <span class="hashtag"></span>{tag.name}
          </p>
        ))}
      </div>
    </div>
  </a>
</li>
