---
import type { Category, Tag } from "../../types";

type CategoryWithCount = Category & { count: number };
type TagWithCount = Tag & { count: number };

export interface Props {
	categories: CategoryWithCount[];
	tags: TagWithCount[];
	headingSize?: "sm" | "md";
	spacingTop?: string;
}

const { categories, tags, headingSize = "md", spacingTop = "mt-[48px]" } = Astro.props;

const headingClass =
	headingSize === "md"
		? "text-[20px] leading-none tracking-[0.06em] font-bold"
		: "text-[16px] leading-none tracking-[0.06em] font-black";

const itemMargin = headingSize === "md" ? "mt-[24px]" : "mt-[18px] sm:mt-[12px]";
---

<p class={headingClass}>Category｜カテゴリ</p>
<ul class={itemMargin}>
	{
		categories.length === 0 ? (
			<li class="text-sm text-muted-foreground">カテゴリがありません</li>
		) : (
			categories.map((category) => (
				<li class="border-b border-[#eee] first:border-t first:border-[#eee]">
					<a href={`/categories/${category.slug}`} class="flex items-center justify-between py-[20px] sm:py-[16px] gap-[12px] opacity-hover duration">
						<div class="flex items-center gap-[10px]">
							<span class="w-[8px] h-[8px] rounded-full shrink-0" style={`background-color: ${category.labelColor}`}></span>
							<span class="font-bold text-[14px] leading-none">{category.name}</span>
								<div class="flex items-center self-stretch"><div class="w-px h-[14px] bg-[#eee]"></div></div>
							<span class="font-medium text-[#888] text-[14px] sm:text-[12px] leading-none">{category.slug}</span>
						</div>
						<span class="bracket text-[#888] text-[12px] sm:text-[10px] shrink-0 leading-none">{category.count}</span>
					</a>
				</li>
			))
		)
	}
</ul>
<p class:list={[headingClass, spacingTop]}>Tag｜タグ</p>
<ul class:list={[itemMargin, "flex gap-[10px] sm:gap-[8px] flex-wrap"]}>
	{
		tags.length === 0 ? (
			<li class="text-sm text-muted-foreground">タグがありません</li>
		) : (
			tags.map((tag) => (
				<li>
					<a href={`/tags/${tag.slug}`} class="flex items-center gap-[6px] sm:gap-[4px] px-[8px] sm:px-[6px] py-[6px] sm:py-[4px] rounded-full bg-[#f6f6f6] opacity-hover duration">
						<span class="font-bold text-[10px] sm:text-[10px] leading-none tracking-[0.04em]"><span class="hashtag" />{tag.name}</span>
						<span class="bracket font-medium text-[10px] sm:text-[10px] leading-none text-[#888]">{tag.count}</span>
					</a>
				</li>
			))
		)
	}
</ul>
