---
import Icon from "../atoms/icon.astro";

export interface DropdownItem {
	href: string;
	label: string;
}

export interface Props {
	label: string;
	currentTitle: string;
	allHref: string;
	items: DropdownItem[];
}

const { label, currentTitle, allHref, items } = Astro.props;
---

<div class="relative js-filter">
	<div class="cursor-pointer js-filter-btn">
		<p class="inline-block text-[16px] sm:text-[14px] leading-none tracking-[0.06em] font-bold">
			{label} <span class="font-normal bracket">{currentTitle}</span>
		</p>
		<Icon
			filename="icon_arrow_right"
			color="#333"
			customClass="w-[24px] sm:w-[20px] align-[-6px] sm:align-[-5px] duration js-filter-icon"
		/>
	</div>
	<ul
		class="js-filter-menu z-10 bg-[#FFF]/[0.16] backdrop-blur-lg px-[20px] sm:px-[16px] py-[12px] sm:py-[8px] absolute top-[28px] sm:top-[24px] left-0 text-nowrap text-[14px] sm:text-[12px] leading-none tracking-[0.06em] font-normal hidden flex-col"
	>
		<li class="opacity-hover duration my-[12px] sm:my-[8px] cursor-pointer">
			<a href={allHref}>ALL</a>
		</li>
		{
			items.map((item) => (
				<li class="opacity-hover duration my-[12px] sm:my-[8px] cursor-pointer">
					<a href={item.href}>{item.label}</a>
				</li>
			))
		}
	</ul>
</div>
