---
import Icon from "../atoms/icon.astro";
import type { Blog, Category, Tag } from "../../libs/microcms.ts";

const { blog, category, tag } = Astro.props as {
  blog?: Blog;
  category?: Category;
  tag?: Tag;
};

const isBlogPage = !!blog;
const isCategoryPage = !!category;
const isTagPage = !!tag;
---

<div class="pt-[134px] sm:pt-[80px]">
  <nav class="pt-[20px] sm:pt-[16px] pb-[24px] sm:pb-[18px] bg-[#FAFAFA]">
    <ul class="flex flex-wrap items-center gap-[16px] sm:gap-[12px] inner">
      <li class="text-[16px] sm:text-[12px] font-bold tracking-[0.04em] leading-none">
        <a href="/" class="opacity-hover duration">トップ</a>
      </li>

      {isCategoryPage && (
        <>
          <Icon filename="icon_arrow_right" color="#333" customClass="w-[24px] sm:w-[16px] shrink-0" />
          <li class="text-[16px] sm:text-[12px] font-bold tracking-[0.04em] text-[#888] leading-none">
            <span class="bracket">{category.name}</span> 記事一覧
          </li>
        </>
      )}

      {isTagPage && (
        <>
          <Icon filename="icon_arrow_right" color="#333" customClass="w-[24px] sm:w-[16px] shrink-0" />
          <li class="text-[16px] sm:text-[12px] font-bold tracking-[0.04em] text-[#888] leading-none">
            <span class="bracket"><span class="hashtag"></span>{tag.name}</span> 記事一覧
          </li>
        </>
      )}

      {isBlogPage && blog.category && (
        <>
          <Icon filename="icon_arrow_right" color="#333" customClass="w-[24px] sm:w-[16px] shrink-0" />
          <li class="text-[16px] sm:text-[12px] font-bold tracking-[0.04em] leading-none">
            <a href={`/categories/${blog.category.slug}`} class="opacity-hover duration">
              <span class="bracket">{blog.category.name}</span> 記事一覧
            </a>
          </li>
        </>
      )}

      {isBlogPage && (
        <>
          <Icon filename="icon_arrow_right" color="#333" customClass="w-[24px] sm:w-[16px] shrink-0" />
          <li class="text-[16px] sm:text-[12px] font-bold text-[#888] tracking-[0.04em] leading-none line-clamp-1">
            {blog.title}
          </li>
        </>
      )}
    </ul>
  </nav>
</div>
