---
import Icon from "../atoms/icon.astro";

export interface Props {
	uniqueCategories: { slug: string; title: string; enTitle: string }[];
	uniqueSizes: string[];
	uniqueTags: { slug: string; title: string; enTitle: string }[];
}

const { uniqueCategories, uniqueSizes, uniqueTags } = Astro.props;

const sortedUniqueSizes = Astro.props.uniqueSizes.sort((a, b) => {
	const numA = parseFloat(a.replace(/[^0-9.]/g, "")) || 0;
	const numB = parseFloat(b.replace(/[^0-9.]/g, "")) || 0;
	return numB - numA;
});

const BASE_PATH = "/works/graphicdesign";
---

<div
	class="flex items-center justify-between sm:flex-col-reverse sm:justify-start sm:items-start sm:gap-[16px] mt-[48px] sm:mt-[24px]"
>
	<div class="flex flex-wrap gap-[24px] sm:gap-[16px]">
		<div class="relative js-filter">
			<div class="cursor-pointer js-filter-btn">
				<p class="inline-block text-[16px] sm:text-[14px] leading-none tracking-[0.06em] font-bold">CATEGORY</p>
				<Icon
					filename="icon_arrow_right"
					color="#333"
					customClass="w-[24px] sm:w-[20px] align-[-6px] sm:align-[-5px] duration js-filter-icon"
				/>
			</div>
			<ul
				class="js-filter-menu z-10 bg-[#FFF]/[0.16] backdrop-blur-lg px-[20px] sm:px-[16px] py-[12px] sm:py-[8px] absolute top-[24px] sm:top-[20px] left-0 text-nowrap text-[14px] sm:text-[12px] leading-none tracking-[0.06em] font-normal hidden flex-col"
			>
				<li class="opacity-hover duration py-[12px] sm:py-[8px] cursor-pointer">
					<a href={BASE_PATH} class="">All｜すべて</a>
				</li>
				{
					uniqueCategories.map((category) => (
						<li class="opacity-hover duration py-[12px] sm:py-[8px] cursor-pointer">
							<a href={`${BASE_PATH}/category/${category.slug}`} class="">
								{category.enTitle}｜{category.title}
							</a>
						</li>
					))
				}
			</ul>
		</div>

		<div class="relative js-filter">
			<div class="cursor-pointer js-filter-btn">
				<p class="inline-block text-[16px] sm:text-[14px] leading-none tracking-[0.06em] font-bold">SIZE</p>
				<Icon
					filename="icon_arrow_right"
					color="#333"
					customClass="w-[24px] sm:w-[20px] align-[-6px] sm:align-[-5px] duration js-filter-icon"
				/>
			</div>
			<ul
				class="js-filter-menu z-10 bg-[#FFF]/[0.16] backdrop-blur-lg px-[20px] sm:px-[16px] py-[12px] sm:py-[8px] absolute top-[24px] sm:top-[20px] left-0 text-nowrap text-[14px] sm:text-[12px] leading-none tracking-[0.06em] font-normal hidden flex-col"
			>
				<li class="opacity-hover duration py-[12px] sm:py-[8px] cursor-pointer">
					<a href={BASE_PATH} class="">All｜すべて</a>
				</li>
				{
					uniqueSizes.map((size) => (
						<li class="opacity-hover duration py-[12px] sm:py-[8px] cursor-pointer">
							<a href={`${BASE_PATH}/size/${size.replace("×", "x")}`} class="">
								{size}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>

	{
		/* <div class="flex items-center sm:flex-col sm:items-start gap-[12px] sm:gap-[6px]">
				<div class="text-[12px] font-bold">お仕事のみを表示する</div>
				<div class="w-[48px] select-none cursor-pointer">
					<input
						type="checkbox"
						name="toggle"
						id="toggle"
						class="toggle-checkbox absolute block w-[24px] h-[24px] duration bg-[#0079C9] border-[4px] border-[#EEE] rounded-full appearance-none cursor-pointer checked:bg-[#FAFAFA] checked:border-[#CCC] checked:translate-x-[24px]"
					/>
					<label
						for="toggle"
						class="block h-[24px] overflow-hidden bg-[#CCC] rounded-full cursor-pointer toggle-bg duration"></label>
				</div>
			</div>  */
	}
</div>
<div class="relative js-filter mt-[16px] sm:mt-[8px]">
	<div class="inline-block cursor-pointer js-filter-btn">
		<p class="inline-block text-[16px] sm:text-[14px] leading-none tracking-[0.06em] font-bold">TAG</p>
		<Icon
			filename="icon_arrow_right"
			color="#333"
			customClass="w-[24px] sm:w-[20px] align-[-6px] sm:align-[-5px] duration js-filter-icon"
		/>
	</div>
	<ul
		class="js-filter-menu z-10 bg-[#FFF]/[0.16] backdrop-blur-lg px-[20px] sm:px-[16px] pt-[20px] pb-[24px] sm:pt-[16px] sm:pb-[20px] absolute w-full top-[24px] sm:top-[20px] left-0 text-nowrap text-[14px] sm:text-[12px] leading-none tracking-[0.06em] font-normal hidden flex-col"
	>
		<li>
			<a href={BASE_PATH} class="inline-block cursor-pointer opacity-hover duration">All｜すべて</a>
		</li>
		<li class="flex flex-wrap gap-[16px] sm:gap-[12px] mt-[16px] sm:mt-[12px]">
			{
				uniqueTags.map((tag) => (
					<div class="cursor-pointer opacity-hover duration">
						<a href={`${BASE_PATH}/tag/${tag.slug}`} class="hashtag">
							{tag.title}
						</a>
					</div>
				))
			}
		</li>
	</ul>
</div>
