---
import Icon from "../atoms/icon.astro";
import CategoryTagList from "../molecules/categoryTagList.astro";
import { getCategoryAndTagCounts } from "../../utils/countingUtils";

interface NavItem {
	href?: string;
	text?: string;
	name?: string;
	target?: boolean;
}

const { categoryCounts, tagCounts } = await getCategoryAndTagCounts();

interface Props {
	navItems?: NavItem[];
}

const { navItems = [] } = Astro.props;
---

<header class="fixed z-50 w-full h-auto bg-[#FFF]/[0.64] sm:bg-[#000]/[0] backdrop-blur-lg js-header">
	<div class="pt-[36px] sm:pt-[20px] pb-[40px] sm:pb-[24px] inner">
		<div class="flex justify-between">
			<a href="/" class="opacity-hover duration"
				><Icon filename="logo" color="#0079C9" customClass="w-[88px] sm:w-[72px]" /></a
			>
			<nav class="text-[16px] font-bold flex justify-center items-center">
				<ol class="flex items-center gap-[32px]">
					<li class="sm:hidden">
						<ul class="flex items-center gap-[24px]">
							{
								navItems.map((item) => (
									<li class="leading-none tracking-[0.06em]">
										<a href={item.href} target={item.target ? "_blank" : ""} class="opacity-hover duration">
											{item.text}
											{item.target ? (
												<Icon filename="icon_open_in_new" color="#333" customClass="w-[20px] sm:w-[16px] align-[sub]" />
											) : (
												""
											)}
										</a>
									</li>
								))
							}
						</ul>
					</li>
					<li class="sm:hidden self-stretch flex items-center">
						<div class="w-px h-[20px] bg-[#333] opacity-30"></div>
					</li>
					<li class="sm:hidden">
						<ul class="flex items-center gap-[24px]">
							<li>
								<a href="https://note.com/miyata_note" target="_blank" class="opacity-hover duration">
									<Icon filename="logo_note" customClass="w-[18px] align-[sub]" />
								</a>
							</li>
							<li>
								<a href="https://github.com/shu-ship555" target="_blank" class="opacity-hover duration">
									<Icon filename="logo_github" customClass="w-[24px] align-[sub]" />
								</a>
							</li>
							<li>
								<a href="https://zenn.dev/fune" target="_blank" class="opacity-hover duration">
									<Icon filename="logo_zenn" customClass="w-[24px] align-[sub]" />
								</a>
							</li>
						</ul>
					</li>
					<li class="hidden leading-none sm:block js-open">
						<Icon filename="icon_menu" customClass="w-[32px]" />
					</li>
					<li class="hidden leading-none js-close">
						<Icon filename="icon_x" customClass="w-[32px]" />
					</li>
				</ol>
			</nav>
		</div>
	</div>
</header>
<nav
	class="text-[16px] z-30 font-bold w-full js-menu mx-auto pt-[16vh] inner absolute left-1/2 -translate-x-1/2 hidden"
>
	<ol class="flex flex-col gap-[40px] sm:gap-[28px] mx-auto">
		{
			navItems.map((item) => (
				<li class="leading-none tracking-[0.06em] font-black">
					<a href={item.href} target={item.target ? "_blank" : ""} class="opacity-hover duration">
						{item.text}｜{item.name}
						{item.target ? (
							<Icon filename="icon_open_in_new" color="#333" customClass="w-[20px] sm:w-[18px] align-[-3px]" />
						) : (
							""
						)}
					</a>
				</li>
			))
		}
		<li class="flex items-center gap-[16px]">
			<span>外部リンク｜</span>
			<a href="https://note.com/miyata_note" target="_blank" class="opacity-hover duration">
				<Icon filename="logo_note" customClass="sm:w-[14px] align-middle" />
			</a>
			<a href="https://github.com/shu-ship555" target="_blank" class="opacity-hover duration">
				<Icon filename="logo_github" customClass="sm:w-[20px] align-middle" />
			</a>
			<a href="https://zenn.dev/fune" target="_blank" class="opacity-hover duration">
				<Icon filename="logo_zenn" customClass="sm:w-[20px] align-middle" />
			</a>
		</li>
		<li><hr class="border border-[#333]" /></li>
		<li class="shrink-0">
			<CategoryTagList
				categories={categoryCounts}
				tags={tagCounts}
				headingSize="sm"
				spacingTop="mt-[32px] sm:mt-[28px]"
			/>
		</li>
	</ol>
</nav>
