---
import Layout from "../../../layouts/Layout.astro";
import Pager from "../../../components/organisms/pager.astro";
import { getAllContents } from "../../../libs/microcms";
import type { Blog, Category, Tag } from "../../../types";
import type { GetStaticPathsOptions } from "astro";
import Card from "../../../components/molecules/card.astro";
import CategoryTagSidebar from "../../../components/organisms/categoryTagSidebar.astro";
import { getCountedCategories, getCountedTags } from "../../../utils/countingUtils";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const allTagsResponse = await getAllContents<Tag>("tags");
	const tags = allTagsResponse.contents;
	const allBlogsResponse = await getAllContents<Blog>("blogs");
	const allBlogs = allBlogsResponse.contents;

	return tags.flatMap((tag) => {
		const blogsWithThisTag = allBlogs.filter((blog) => blog.tag.some((blogTag) => blogTag.id === tag.id));

		return paginate(blogsWithThisTag, {
			pageSize: 10,
			params: { slug: tag.slug },
			props: {
				tag,
				allBlogs,
				totalCount: blogsWithThisTag.length,
			},
		});
	});
}

const { page, tag, allBlogs, totalCount } = Astro.props as {
	page: { data: Blog[] };
	tag: Tag;
	allBlogs: Blog[];
	totalCount: number;
};

const blogs = page.data as Blog[];

const [allCategoriesResponse, allTagsResponse] = await Promise.all([
	getAllContents<Category>("categories"),
	getAllContents<Tag>("tags"),
]);
const categories = allCategoriesResponse.contents;
const tags = allTagsResponse.contents;

const categoryCounts = getCountedCategories(categories, allBlogs);
const tagCounts = getCountedTags(tags, allBlogs);
---

<Layout title={`${tag.name} の記事一覧 | miyata blog`} breadcrumb={true} tag={tag}>
	<main class="inner pt-[96px] sm:pt-[48px] pb-[120px] gap-[48px] sm:pb-[64px]">
		<h1 class="text-[32px] sm:text-[24px] leading-none sm:leading-[1.4] tracking-[0.04em] font-black">
			Tag <span class="font-normal bracket"><span class="hashtag"></span>{tag.name}</span>
		</h1>
		<div class="flex justify-between sm:flex-col mt-[64px] sm:mt-[32px]">
			{
				blogs.length === 0 ? (
					<p class="text-gray-600">このタグにはまだ記事がありません。</p>
				) : (
					<ul class="flex gap-[32px] flex-wrap sm:gap-[28px]">
						{blogs.map((blog) => (
							<Card blog={blog} />
						))}
					</ul>
				)
			}
			<CategoryTagSidebar categories={categoryCounts} tags={tagCounts} />
		</div>
		{blogs.length > 0 && <Pager page={page} totalCount={totalCount} tagSlug={tag.slug} />}
	</main>
</Layout>
