---
// src/layouts/Layout.astro
import type { Blog, Category, Tag } from "../libs/microcms.ts";

export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  pageUrl?: string;
  breadcrumb?: boolean;
  blog?: Blog;
  category?: Category;
  tag?: Tag; // 追加
}

const {
  title = 'デフォルトのタイトル',
  description = 'これはサイトのデフォルトの説明です。',
  ogImage,
  pageUrl = Astro.url.href,
  breadcrumb = false,
  blog,
  category,
  tag, // 追加
} = Astro.props;

import '../assets/css/styles.css';
import '../assets/css/prism.css';
import Header from "../components/organisms/header.astro";
import Footer from "../components/organisms/footer.astro";
import Breadcrumb from "../components/organisms/breadcrumb.astro";
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={pageUrl} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageUrl} />
    {ogImage && <meta property="og:image" content={ogImage} />}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {ogImage && <meta name="twitter:image" content={ogImage} />}
  </head>
  <body class="relative">
    <Header
      navItems={[
        { href: "/", text: "Blog", name: "ブログ", target: false },
        // { href: "/about", text: "About", name: "このサイトについて", target: false },
        { href: "https://adhesive-form-ca1.notion.site/134c792be686808c8bb0e4342fe0625d?pvs=105", text: "Contact", name: "お問い合わせ", target: true },
      ]}
    />
    {breadcrumb && <Breadcrumb blog={blog} category={category} tag={tag} />}
    <slot />
    <Footer />
    <div class="bg-[#FFF]/[0.64] backdrop-blur-lg absolute h-full w-full top-0 hidden js-bg"></div>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/prism.js"></script>
  </body>
</html>
