---
// src/layouts/Layout.astro
import type { Blog, Category, Tag } from "../libs/microcms.ts";

export interface Props {
  title: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  pageUrl?: string;
  breadcrumb?: boolean;
  blog?: Blog;
  category?: Category;
  tag?: Tag;
  isIconsPage?: boolean;
}

const {
  title = 'デザイナーからエンジニアへ｜アラサーWeb制作者の成長ブログ｜miyata blog',
  description = 'デザイナー挫折経験を持つアラサーWeb制作者が、Web制作におけるプログラミングやデザインの学習記録、AIの活用方法などを発信します。',
  ogTitle = title,
  ogDescription = description,
  ogImage = '/img/ogp.png',
  pageUrl = Astro.url.href,
  breadcrumb = false,
  blog,
  category,
  tag,
  isIconsPage = false,
} = Astro.props;

import '../assets/css/styles.css';
import '../assets/css/prism.css';
import Header from "../components/organisms/header.astro";
import Footer from "../components/organisms/footer.astro";
import Breadcrumb from "../components/organisms/breadcrumb.astro";
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={pageUrl} />

    <!-- OGP -->
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDescription} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={pageUrl} />
    {ogImage && <meta property="og:image" content={ogImage} />}

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={ogDescription} />
    {ogImage && <meta name="twitter:image" content={ogImage} />}

		<!-- Google tag (gtag.js) -->
		<script
			is:inline
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-KF973B2HFT"></script>
		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag('config', 'G-KF973B2HFT');
		</script>
  </head>
  <body class="relative">
    <Header
      navItems={[
        { href: "/", text: "Blog", name: "ブログ", target: false },
        { href: "/works", text: "Works", name: "制作物", target: false },
        { href: "https://adhesive-form-ca1.notion.site/134c792be686808c8bb0e4342fe0625d?pvs=105", text: "Contact", name: "お問い合わせ", target: true },
      ]}
    />
    {breadcrumb && <Breadcrumb blog={blog} category={category} tag={tag} isIconsPage={isIconsPage} />}
    <slot />
    {breadcrumb && <Breadcrumb blog={blog} category={category} tag={tag} scale={0.75} noMargin={true} backgroundColor="#FCFCFC" isIconsPage={isIconsPage} />}
    <Footer />
    <div class="bg-[#FFF]/[0.64] backdrop-blur-lg absolute h-full w-full top-0 hidden js-bg"></div>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/prism.js"></script>
  </body>
</html>
